{% extends "layout.html" %}

{% block main %}
    {% if message %}
        <div class="alert alert-primary mb-0 text-center" role="alert">
            Registered!
        </div>
    {% endif %}
    {% if buy %}
    <div class="alert alert-primary mb-0 text-center" role="alert">
        Bought!
    </div>
    {% endif %}
    {% if current %}
        <div class="alert alert-primary mb-0 text-center" role="alert">
            Sold!
        </div>
    {% endif %}
    <div class="container py-5 text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-start">Name</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">TOTAL</th>
                </tr>
            </thead>
        <tbody>


                {% for n in range(0, length) %}
                <tr>
                    <td class="text-start">{{ user_dict[n]["symbol"] }}</td>
                    <td class="text-start">{{ user_dict[n]["company_name"] }}</td>
                    <td class="text-end">{{ user_dict[n]["shares"] }}</td>
                    <td class="text-end">{{ price[n] }}</td>
                    <td class="text-end">{{ total[n] }}</td>
                </tr>
                {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                    <td class="border-0 text-end">{{ cash }}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                    <td class="border-0 w-bold text-end">{{ TOTAL }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
